In [12]:
import pandas as pd
import numpy as np

In [13]:
dataset_auction = pd.read_excel('../dataset_2019.xlsx','Auction')

In [14]:
dataset_auction

                            Name  Prices (lakhs)
0                Quinton de Kock             280
1                  Mandeep Singh             140
2                 Marcus Stoinis             620
3                 Shikhar Dhawan             520
4                  Vijay Shankar             320
..                           ...             ...
185    Bandaru Ayyappa[DI-REC-2]              20
186  Shrikant Mundhe[ACC][REC-2]              20
187           Manan Vohra[REC-3]              20
188    Ashton Turner[ACC][REC-3]              50
189        Riyan Parag[DI-REC-3]              20

[190 rows x 2 columns]

In [15]:
prices=dataset_auction.iloc[:,-1].values
prices[:5]

array([280, 140, 620, 520, 320], dtype=int64)

In [16]:
prices

array([ 280,  140,  620,  520,  320,  320,   55, 1500, 1100,  780,  700,
        640,  500,  400,  260,  220,  200,  200,  200,  160,  100,  100,
         80,   50,   50,   40,   20,   20,   20,   20,  800,  710,  700,
        420,  400,  300,  220,  190,  120,   70,   50,   20,   20,   20,
       1100,  760,  720,  560,  400,  300,  300,  200,  100,  850,  960,
        700,  740,  640,  580,  420,  340,  320,  300,  180,   80,   20,
       1500, 1100,  880,  700,  620,  540,  380,  320,  220,  190,  150,
        100,   75,   20,   20,   20,   20, 1250, 1200,  800,  720,  620,
        440,  400,  340,   75,   50,   50,   30,   20,   20,   20,   20,
       1700, 1100,  600,  420,  320,  300,  260,  220,  220,  170,  170,
        100,  100,   85, 1200, 1100,  900,  850,  380,  360,  300,  300,
        300,  200,  190,  100,  100,   95,   50,   40,   20,  200,  420,
        500,   50,  100,  500,  220,  420,  120,  840,  110,  200,  480,
        240,  500,   20,   80,   25,  500,  840,   20,   20,  640,  720,
         50,  340,  160,  200,   20,  110,   75,   65,   20,   20,   75,
         20,   20,   30,   30,  480,   20,   20,   50,   50,  150,   20,
         20,  100,  100,  360,   20,   20,   20,   20,  100,   20,   20,
         20,   50,   20], dtype=int64)

In [17]:
temp=[]
for i in prices:
    val=str(i).split('(')[0].strip()
#     print(val)
    if(val.find('crore')>=0): 
#         print('A')
        lakh_val=float(val.split()[0])*100
        temp.append(lakh_val)
    else:
#         print('B')
        temp.append(float(val.split()[0]))
temp

[280.0,
 140.0,
 620.0,
 520.0,
 320.0,
 320.0,
 55.0,
 1500.0,
 1100.0,
 780.0,
 700.0,
 640.0,
 500.0,
 400.0,
 260.0,
 220.0,
 200.0,
 200.0,
 200.0,
 160.0,
 100.0,
 100.0,
 80.0,
 50.0,
 50.0,
 40.0,
 20.0,
 20.0,
 20.0,
 20.0,
 800.0,
 710.0,
 700.0,
 420.0,
 400.0,
 300.0,
 220.0,
 190.0,
 120.0,
 70.0,
 50.0,
 20.0,
 20.0,
 20.0,
 1100.0,
 760.0,
 720.0,
 560.0,
 400.0,
 300.0,
 300.0,
 200.0,
 100.0,
 850.0,
 960.0,
 700.0,
 740.0,
 640.0,
 580.0,
 420.0,
 340.0,
 320.0,
 300.0,
 180.0,
 80.0,
 20.0,
 1500.0,
 1100.0,
 880.0,
 700.0,
 620.0,
 540.0,
 380.0,
 320.0,
 220.0,
 190.0,
 150.0,
 100.0,
 75.0,
 20.0,
 20.0,
 20.0,
 20.0,
 1250.0,
 1200.0,
 800.0,
 720.0,
 620.0,
 440.0,
 400.0,
 340.0,
 75.0,
 50.0,
 50.0,
 30.0,
 20.0,
 20.0,
 20.0,
 20.0,
 1700.0,
 1100.0,
 600.0,
 420.0,
 320.0,
 300.0,
 260.0,
 220.0,
 220.0,
 170.0,
 170.0,
 100.0,
 100.0,
 85.0,
 1200.0,
 1100.0,
 900.0,
 850.0,
 380.0,
 360.0,
 300.0,
 300.0,
 300.0,
 200.0,
 190.0,
 100.0,
 100.0,
 95.0,
 50.0,
 40.0,
 20.0,
 200.0,
 420.0,
 500.0,
 50.0,
 100.0,
 500.0,
 220.0,
 420.0,
 120.0,
 840.0,
 110.0,
 200.0,
 480.0,
 240.0,
 500.0,
 20.0,
 80.0,
 25.0,
 500.0,
 840.0,
 20.0,
 20.0,
 640.0,
 720.0,
 50.0,
 340.0,
 160.0,
 200.0,
 20.0,
 110.0,
 75.0,
 65.0,
 20.0,
 20.0,
 75.0,
 20.0,
 20.0,
 30.0,
 30.0,
 480.0,
 20.0,
 20.0,
 50.0,
 50.0,
 150.0,
 20.0,
 20.0,
 100.0,
 100.0,
 360.0,
 20.0,
 20.0,
 20.0,
 20.0,
 100.0,
 20.0,
 20.0,
 20.0,
 50.0,
 20.0]